In [57]:
import pandas as pd

In [63]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [59]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [70]:
# What is the average age of men?
round(df.loc[df['sex'] == 'Male', 'age'].mean(), 2)

(39.43354749885268, 2)

In [81]:
# What is the percentage of people who have a Bachelor's degree?
round((df.loc[df['education'] == 'Bachelors'].shape[0]) / df.shape[0] * 100, 2)

16.45

In [93]:
df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')].shape[0]

7491

In [92]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')].shape[0]

25070

In [96]:
round(df.loc[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].shape[0] / df.shape[0] * 100, 2)

10.71

In [97]:
round(df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate') & (df['salary'] == '>50K')].shape[0] / df.shape[0] * 100, 2)

13.37

In [110]:
df['hours-per-week'].min()

1

In [112]:
df.loc[df['hours-per-week'] == 1].shape[0]

20

In [115]:
round(df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')].shape[0] / df.loc[df['hours-per-week'] == 1].shape[0] * 100, 2)

10.0

In [164]:
round(df.loc[(df['salary'] == '>50K'), ['native-country']].value_counts()[0] / df.loc[(df['salary'] == '>50K'), ['native-country']].value_counts().sum() * 100, 2)

91.46

In [130]:
df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), ['occupation']].value_counts().idxmax()[0]

'Prof-specialty'